<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTMKPFng9Eyyt5wl3rLPCgBPVA0V8cVU0</string>
	<key>GCM_SENDER_ID</key>
	<string>808698054506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hub.talentHub</string>
	<key>PROJECT_ID</key>
	<string>talent-hub-ba77a</string>
	<key>STORAGE_BUCKET</key>
	<string>talent-hub-ba77a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808698054506:ios:64dfef655e1911eae54713</string>
</dict>
</plist>